# GitHub repositories analysis

In [1]:
import pandas as pd
import os
import glob

## Read the data

In [2]:
files = glob.glob("./data/**/*.csv", recursive=True)
print("Encontrados", len(files), "ficheros")

Encontrados 15 ficheros

In [3]:
df = pd.concat((pd.read_csv(f) for f in files), ignore_index=True)

In [4]:
df.head(3)

,Unnamed: 0,name,ts,stars_count,views_total,views_uniques,clones_total,clones_uniques
0,0,ic-gradle,2022-06-29,0,0,0,1,1
1,1,istio-wasm-filter-golang,2022-06-29,0,3,2,0,0
2,2,jwt,2022-06-29,1,0,0,2,1

## Data analysis

### Views

In [5]:
views = df.groupby(['name']).agg({"views_total": ["sum"]})
views = views[views[('views_total', 'sum')] > 0]
views.sort_values(by=[('views_total', 'sum')], ascending=False)

                            views_total
                                    sum
name
quarkus-kotlin-example              177
golang-rest-api-cassandra            88
kotlin-ktor                          86
kustomize-vs-helm                    43
ta                                   38
pelorus-workshop                     31
library                              28
spring-kotlin-crud                   24
b0rr3g0-blog                         21
istio-wasm-filter-golang             19
golang-k8s-helm-helloworld           19
ml-github                            17
mqtt-golang-influxdb                 17
quarkus-kafka                         9
kops-aws                              7
jenkins-pipeline                      6
iot-devices-crud                      4
dbgjerez                              3
jwt                                   1
ic-gradle                             1
golang-azure-eventhub-kafka           1

### Clones

In [6]:
clones = df.groupby(['name']).agg({"clones_uniques": ["sum"]})
clones = clones[clones[('clones_uniques', 'sum')] > 0]
clones.sort_values(by=[('clones_uniques', 'sum')], ascending=False)

                            clones_uniques
                                       sum
name
ta                                     295
golang-rest-api-cassandra              251
mqtt-golang-influxdb                   126
iot-devices-crud                       104
pelorus-workshop                        14
b0rr3g0-blog                             9
ml-github                                7
service-mesh-wasm-go                     5
ml-learning                              5
istio-wasm-filter-golang                 3
tinygo-site                              2
workshop-uca-aws-deploy                  2
jwt                                      2
golang-azure-eventhub                    1
kotlin-ktor                              1
ic-gradle                                1
spring-cloud-dataflow                    1
spring-cloud-ms2                         1
golang-gin-gonic                         1
golang-azure-eventhub-kafka              1
kustomize-vs-helm                        1

# Stars

In [7]:
stars = df.groupby(['name']).agg({"stars_count": ["max"]})
stars = stars[stars[('stars_count', 'max')] > 0]
stars.sort_values(by=[('stars_count', 'max')], ascending=False)

                           stars_count
                                   max
name
mqtt-golang-influxdb                 9
spring-kotlin-crud                   6
kotlin-ktor                          5
kops-aws                             4
kustomize-vs-helm                    3
ta                                   3
golang-k8s-helm-helloworld           2
golang-rest-api-cassandra            2
quarkus-kotlin-example               2
jenkins-pipeline                     1
jwt                                  1